@use "../../vars" as *;

// Take avatar of last msg and use as speaker portrait
.scrollerInner_e2e187 > :is(li, .messageListItem_d5deea):last-of-type .avatar_f9f2ca {
    border-radius: 0;
    position: fixed;
    left: unset;
    right: calc($chatRightOffset + $chatWidth - 20px);
    top: 250px;
    width: calc($chatLeftOffset - 5px);
    height: calc($chatLeftOffset + 60px);
    z-index: 1;
    background: $portraitBg;
    padding: 10px $distance 5px $distance;
    object-fit: cover;
}

// Hide other avatars
.scrollerInner_e2e187 > :is(li, .messageListItem_d5deea):not(:last-of-type) .avatar_f9f2ca {
    display: none;
}

// Hide all avatar decorations
.scrollerInner_e2e187 > :is(li, .messageListItem_d5deea) .avatarDecoration_f9f2ca {
    display: none;
}

// Hide reply and thread spines
.repliedMessage_ec86aa::before,
.hasThread_ec86aa.hasThread_ec86aa::after {
    display: none;
}

// Hoists chat above memberlist so avatar appears above memberlist
.chatContent_a7d72e {
    z-index: 1;
}
