@use "../../vars" as *;

// Take avatar of last msg and use as speaker portrait
.chat_a7d72e
    .scrollerInner_e2e187
    > :is(li, .messageListItem_d5deea, .backgroundFlash_d5deea):nth-last-child(-n + 1 of :has(.avatar_f9f2ca))
    .avatar_f9f2ca {
    border-radius: 0;
    position: fixed;
    left: unset;
    right: calc($chatRightOffset + $chatWidth - 25px);
    bottom: 125px;
    width: calc($chatLeftOffset + 15px);
    height: calc($chatLeftOffset + 60px);
    z-index: 1;
    background: $portraitBg;
    padding: 10px $distance 5px $distance;
    object-fit: cover;
}

// Direct messages
.chat_a7d72e:not(:has(.container_cbd271))
    .scrollerInner_e2e187
    > :is(li, .messageListItem_d5deea, .backgroundFlash_d5deea):nth-last-child(-n + 1 of :has(.avatar_f9f2ca))
    .avatar_f9f2ca {
    right: calc($chatRightOffset + $chatWidth + $memberlistWidth - 25px);
}

// Make other avatars smaller
.chat_a7d72e
    .scrollerInner_e2e187
    > :is(li, .messageListItem_d5deea, .backgroundFlash_d5deea):not(:nth-last-child(-n + 1 of :has(.avatar_f9f2ca)))
    .avatar_f9f2ca {
    display: inline-block;
    width: 16px;
    height: 16px;
    left: 40px;
    top: 4px;
}

// Adjustment for message replies
.chat_a7d72e
    .scrollerInner_e2e187
    > :is(li, .messageListItem_d5deea, .backgroundFlash_d5deea):not(:nth-last-child(-n + 1 of :has(.avatar_f9f2ca)))
    :has(.repliedMessage_f9f2ca)
    .avatar_f9f2ca {
    top: 26px;
}

// Hide all avatar decorations
.chat_a7d72e .scrollerInner_e2e187 > :is(li, .messageListItem_d5deea, .backgroundFlash_d5deea) .avatarDecoration_f9f2ca {
    display: none;
}

// Hide reply and thread spines
.repliedMessage_ec86aa::before,
.hasThread_ec86aa.hasThread_ec86aa::after {
    display: none;
}

// Hoists chat above memberlist so avatar appears above memberlist
.chatContent_a7d72e {
    z-index: 1;
}
