@use "../../vars" as *;

// Take avatar of last msg and use as speaker portrait
.chat_f75fb0
    .scrollerInner__36d07
    > :is(li, .messageListItem__5126c, .backgroundFlash_d5deea):nth-last-child(-n + 1 of :has(.avatar_c19a55))
    .avatar_c19a55 {
    border-radius: 0;
    position: fixed;
    left: unset;
    right: calc($chatRightOffset + $chatWidth - 25px);
    bottom: 125px;
    width: calc($chatLeftOffset + 15px);
    height: calc($chatLeftOffset + 60px);
    z-index: 1;
    background: $portraitBg;
    padding: 10px $distance 5px $distance;
    object-fit: cover;
}

// Direct messages
.chat_f75fb0:not(:has(:is(.container_c8ffbb, .container__7641b)))
    .scrollerInner__36d07
    > :is(li, .messageListItem__5126c, .backgroundFlash_d5deea):nth-last-child(-n + 1 of :has(.avatar_c19a55))
    .avatar_c19a55 {
    right: calc($chatRightOffset + $chatWidth + $memberlistWidth - 25px);
}

// Make other avatars smaller
.chat_f75fb0
    .scrollerInner__36d07
    > :is(
        :is(li, .messageListItem__5126c, .backgroundFlash_d5deea):not(:nth-last-child(-n + 1 of :has(.avatar_c19a55))),
        .groupStart__5126c
    )
    .avatar_c19a55,
:is(.searchResult__02a39, .messagesPopoutWrap_ac90a2) .avatar_c19a55 {
    display: inline-block;
    width: 16px;
    height: 16px;
    left: 40px;
    top: 4px;
}

// Move username in search results
.searchResult__02a39 .contents_c19a55 h2.header_c19a55 {
    left: 20px;
}

// Move avatar in search results
.searchResult__02a39 .contents_c19a55 .avatar_c19a55 {
    left: 5px;
}

// Move avatar in pins
.messagesPopoutWrap_ac90a2 .contents_c19a55 .avatar_c19a55 {
    top: 14px;
    left: 18px;
}

// Adjustment for message replies
.chat_f75fb0
    .scrollerInner__36d07
    > :is(li, .messageListItem__5126c, .backgroundFlash_d5deea):not(:nth-last-child(-n + 1 of :has(.avatar_c19a55)))
    :has(.repliedMessage_c19a55)
    .avatar_c19a55 {
    top: 26px;
}

// Hide all avatar decorations
.contents_c19a55 .avatarDecoration_c19a55 {
    display: none;
}

// Hide reply and thread spines
.repliedMessage_ec86aa::before,
.hasThread_ec86aa.hasThread_ec86aa::after {
    display: none;
}

// Hoists chat above memberlist so avatar appears above memberlist
.chatContent_a7d72e {
    z-index: 1;
}
