// Fix timestamp alignment
div.contents_c19a55 span.timestampVisibleOnHover_c19a55 {
    transform: translateX(-20px);
}
div.divider_d5deea span.content_c2654d {
    transform: translateY(-10px);
}

// Message replies
.repliedMessage_c19a55 {
    left: 44px;
}

.chat_f75fb0
    .scrollerInner__36d07
    > :is(
        :is(li, .messageListItem__5126c, .backgroundFlash_d5deea):not(:nth-last-child(-n + 1 of :has(.avatar_c19a55))),
        div.groupStart__5126c
    )
    h3.header_c19a55 {
    left: 20px;
}

.chat_f75fb0 {
    --background-primary: none;
}

// Search results
.searchResult__02a39 .wrapper_c19a55 {
    padding-left: 5px;
}
