@use "../../vars" as *;

// Message box
.form_f75fb0:has(.buttons__74017) {
    left: -12px;
    border-radius: 8px;
}

.inner__74017 {
    left: 32px;
    right: 32px;
    border-radius: 8px;
}


.chat_f75fb0:not(:has(:is(.container_c8ffbb, .container__7641b))) .buttons__74017 {
    width: calc($chatWidth + $memberlistWidth);
}

.channelAppLauncher_e6e74f {
    display: none;
}
