@use "../../vars" as *;

// Message box
.form_a7d72e:has(.buttons_d0696b) {
    margin-bottom: 40px;
}

// Move message box buttons to mimic inventory tabs at bottom
.buttons_d0696b {
    background: $bgTint;
    position: fixed;
    top: unset;
    bottom: 0;
    right: calc($chatRightOffset + 5px);
    width: $chatWidth;
    height: $chatButtonsHeight;
    gap: 8vw;
    justify-content: center;
    padding-left: 0;

    $iconSize: 24px !important;

    // GIft, gif, sticker
    .lottieIcon_f73ef7,
        // Send message
        .sendIcon_a06035 {
        width: $iconSize;
        height: $iconSize;
    }

    // Emoji picker
    .spriteContainer_af14ca {
        --custom-emoji-sprite-size: #{$iconSize};
    }

    // Line before send message button
    .separator_a06035::before {
        display: none;
    }
}

.chat_a7d72e:not(:has(.container_cbd271)) .buttons_d0696b {
    width: calc($chatWidth + $memberlistWidth);
}

.channelAppLauncher_df39bd {
    display: none;
}
