@use "../../vars" as *;

.sidebar_c48ade {
    background: $bgTintLight;
    position: relative;
    left: $userpanelWidth + $distance;
    width: $channellistWidth;
}

div.content_c48ade .sidebar_c48ade:has(ul.content__99f8c) {
    width: $channellistWidth !important;
}

// Server channels list
.content__99f8c {
    $banner-height: calc(($channellistWidth - (2 * 10px) - (2 * 0.5vh)) / 240 * 135);

    // Banner
    .animatedContainer_fd6364 {
        height: $banner-height;
    }
    // Prevent banner overlapping outer
    .animatedContainer_fd6364,
    .bannerImage_fd6364 {
        transform: none !important;
    }
    .bannerImage_fd6364,
    .bannerImg_fd6364 {
        width: inherit;
    }
    .bannerImg_fd6364 {
        height: unset;
    }
    div[style="height: 12px;"] {
        height: calc($banner-height - 48px - 84px) !important;
    }
}
