@use "../../vars" as *;

.container_c8ffbb, .container__7641b {
    position: fixed;
    left: calc($userpanelWidth + $channellistWidth + $distance * 2);
    top: calc($hslHeight + 30px);
    bottom: 0;
    background: $bgTintLight;
    min-width: $memberlistWidth;
}

.members_c8ffbb {
    width: $memberlistWidth;
}

.member_c8ffbb {
    max-width: calc($memberlistWidth - 16px);
}
